#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: darksalmon;
}

#nav li{
    margin: 5px;
    padding: 10px 15px;
}

#nav li:hover{
    background-color: forestgreen;
}

#nav a{
    text-decoration: none;
}
/* modelo de caja */
.padre{
    background-color: lightblue;
    padding: 20px;
}
.hijo{
    background-color: crimson;
    padding: 100px;
    border: 10px solid blueviolet;
    margin: 30px;
}
/* componente */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(165, 67, 67);
    gap:1rem;
}
.card{
    width: 200px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px black;
}
.card img{
    width: 100%;
    border-radius: 8px;
}
.card p{
    color: #fff;
    background-color: black;
}
/*carrito */
#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid rgb(9, 0, 77);
    background-color: gray;
    color: azure;
}

/* concurrencia*/
pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: orange;
}

/* try catch */
#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mensaje{
    font-weight: bold;
    color: red;
}
